CMDBUILD_BASE_URL=http://127.0.0.1:8090/cmdbuild
CMDBUILD_HTTP_PORT=8090
CMDBUILD_API_VERSION=v3
CMDBUILD_USERNAME=
CMDBUILD_PASSWORD=
CMDBUILD_DUMP=empty.dump.xz

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=55432
POSTGRES_DATABASE=cmdbuild_r2u2
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

SIMULATION_SEED=42
